<div class="container">
    <form enctype="multipart/form-data" #f="ngForm" class="container-form" align="center" (submit)="validate(data)">
        <mat-form-field class="container-input">
            <mat-label>Parola noua:</mat-label>
            <input matInput
                   placeholder="Parola noua"
                   name="password"
                   type="password"
                   required
                   id="password"
                   [(ngModel)]="newPassword"
                   #emailAdd="ngModel"
                   class="form-control">
        </mat-form-field>
        <button mat-button
                type="submit"
                class="button-submit">Trimite
        </button>
    </form>
</div>