<i class="material-icons navigate-back" (click)="goBack()">
    arrow_back
</i>
<div class="container">
    <form enctype="multipart/form-data" #f="ngForm" (submit)="recover(email)" class="container-form" align="center">
        <mat-form-field class="container-input">
            <mat-label>Adresa de email:</mat-label>
            <input matInput
                   placeholder="Email"
                   name="email"
                   type="email"
                   required
                   id="email"
                   [(ngModel)]="email"
                   #emailAdd="ngModel"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   class="form-control"
                   (keyup)="checkInput()">
        </mat-form-field>
        <button mat-button mat-raised-button
                [disabled]="emptyInput"
                type="submit"
                class="button-submit"
                color="primary">Trimite
        </button>
    </form>
</div>


