<div class="container">
    <mat-grid-list cols="1" rowHeight="2:1" gutterSize="15">
        <mat-grid-tile>
            <mat-card *ngIf="user">
                <span class="edit" [routerLink]="['/user', 'edit']">Editeaza</span>
                <mat-card-title>Detalii utilizator</mat-card-title>
                <mat-card-content>
                    <p>Email: {{user.email}}</p>
                    <p>Nume companie: {{user.company_name}}</p>
                    <p>Adresa companie: {{user.company_address}}</p>
                    <p>Persoana de contact: {{user.contact_person_name}}</p>
                    <p>Cod fiscal: {{user.fiscal_code}}</p>
                    <p>Nr. Registrul Comertului: {{user.trade_registry_number}}</p>
                    <span *ngIf="user.vatPay">asd</span>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<router-outlet></router-outlet>
